In [1]:
# import re
# import json
# import csv
# from io import StringIO
# from bs4 import BeautifulSoup 
# import requests
import yfinance as yf

# Way 1: Easiest Way of Downloading Stock Data

In [5]:
ticker = 'TSLA'
df = yf.download(ticker, '2000-01-01', '2024-06-28')

[*********************100%%**********************]  1 of 1 completed

In [6]:
ticker = 'AMZN'
df2 = yf.download(ticker, '2000-01-01', '2024-06-28')

[*********************100%%**********************]  1 of 1 completed

In [7]:
ticker = 'AMD'
df3 = yf.download(ticker, '2000-01-01', '2024-06-28')

[*********************100%%**********************]  1 of 1 completed

In [8]:
ticker = 'MSFT'
df4 = yf.download(ticker, '2000-01-01', '2024-06-28')

[*********************100%%**********************]  1 of 1 completed

In [9]:
ticker = 'META'
df5 = yf.download(ticker, '2000-01-01', '2024-06-28')

[*********************100%%**********************]  1 of 1 completed

In [10]:
ticker = 'MSTR'
df6 = yf.download(ticker, '2000-01-01', '2024-06-28')

[*********************100%%**********************]  1 of 1 completed

In [11]:
ticker = 'GME'
df7 = yf.download(ticker, '2000-01-01', '2024-06-28')

[*********************100%%**********************]  1 of 1 completed

In [12]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...
2024-06-21,182.300003,183.949997,180.690002,183.009995,183.009995,63029500
2024-06-24,184.970001,188.800003,182.550003,182.580002,182.580002,61992100
2024-06-25,184.399994,187.970001,182.009995,187.350006,187.350006,63678300
2024-06-26,186.539993,197.759995,186.360001,196.369995,196.369995,95737100
2024-06-27,195.169998,198.720001,194.050003,197.419998,197.419998,72746500

In [13]:
df.to_csv('TSLA.csv')

In [14]:
df2.to_csv('AMZN.csv')

In [15]:
df3.to_csv('AMD.csv')

In [16]:
df4.to_csv('MSFT.csv')

In [17]:
df5.to_csv('META.csv')

In [14]:
df6.to_csv('MSTR.csv')

In [19]:
df7.to_csv('GME.csv')

In [20]:
df7.head()

               Open     High      Low    Close  Adj Close    Volume
Date
2002-02-13  2.40625  2.51500  2.38125  2.51250   1.691667  76216000
2002-02-14  2.54375  2.54875  2.48125  2.50000   1.683250  11021600
2002-02-15  2.50000  2.50625  2.46250  2.48750   1.674834   8389600
2002-02-19  2.47500  2.47500  2.34375  2.38750   1.607504   7410400
2002-02-20  2.40000  2.46875  2.38125  2.46875   1.662210   6892800

In [21]:
df7

                Open       High        Low      Close  Adj Close    Volume
Date
2002-02-13   2.40625   2.515000   2.381250   2.512500   1.691667  76216000
2002-02-14   2.54375   2.548750   2.481250   2.500000   1.683250  11021600
2002-02-15   2.50000   2.506250   2.462500   2.487500   1.674834   8389600
2002-02-19   2.47500   2.475000   2.343750   2.387500   1.607504   7410400
2002-02-20   2.40000   2.468750   2.381250   2.468750   1.662210   6892800
...              ...        ...        ...        ...        ...       ...
2024-06-21  25.24000  25.809999  23.510000  23.930000  23.930000  28004000
2024-06-24  23.26000  24.830000  23.240000  23.650000  23.650000  22162900
2024-06-25  23.60000  24.969999  22.549999  24.930000  24.930000  27625600
2024-06-26  24.60000  25.379999  24.040001  24.200001  24.200001  17903000
2024-06-27  24.10000  26.690001  24.059999  25.090000  25.090000  34867000

[5631 rows x 6 columns]

In [22]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5631 entries, 2002-02-13 to 2024-06-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       5631 non-null   float64
 1   High       5631 non-null   float64
 2   Low        5631 non-null   float64
 3   Close      5631 non-null   float64
 4   Adj Close  5631 non-null   float64
 5   Volume     5631 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 307.9 KB

In [24]:
df7.info

<bound method DataFrame.info of                 Open       High        Low      Close  Adj Close    Volume
Date
2002-02-13   2.40625   2.515000   2.381250   2.512500   1.691667  76216000
2002-02-14   2.54375   2.548750   2.481250   2.500000   1.683250  11021600
2002-02-15   2.50000   2.506250   2.462500   2.487500   1.674834   8389600
2002-02-19   2.47500   2.475000   2.343750   2.387500   1.607504   7410400
2002-02-20   2.40000   2.468750   2.381250   2.468750   1.662210   6892800
...              ...        ...        ...        ...        ...       ...
2024-06-21  25.24000  25.809999  23.510000  23.930000  23.930000  28004000
2024-06-24  23.26000  24.830000  23.240000  23.650000  23.650000  22162900
2024-06-25  23.60000  24.969999  22.549999  24.930000  24.930000  27625600
2024-06-26  24.60000  25.379999  24.040001  24.200001  24.200001  17903000
2024-06-27  24.10000  26.690001  24.059999  25.090000  25.090000  34867000

[5631 rows x 6 columns]>

In [23]:
df7.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5631.000000,5631.000000,5631.000000,5631.000000,5631.000000,5.631000e+03
mean,9.328983,9.644328,9.016939,9.309787,7.972581,1.452402e+07
std,10.369933,11.019356,9.727787,10.276129,10.516036,2.985576e+07
min,0.712500,0.735000,0.642500,0.700000,0.638794,2.600000e+05
25%,3.657500,3.742500,3.583750,3.662500,2.911412,5.389200e+06
50%,5.967500,6.047500,5.860000,5.960000,4.223275,9.614400e+06
75%,10.500000,10.703750,10.332500,10.508750,7.603707,1.516300e+07
max,94.927498,120.750000,72.877502,86.877502,86.877502,7.886316e+08

# Way 2 Downloading Stock Data

In [2]:
ticker = 'AAPL'
yfticker = yf.Ticker(ticker)
df_AAPL = yfticker.history(start = '1981-01-01')

In [3]:
yfinfo = yfticker.info

In [4]:
yfinfo

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 150000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 1,
 'compensationRisk': 6,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1719619200,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 214.1,
 'open': 215.805,
 'dayLow': 210.3,
 'dayHigh': 216.07,
 'regularMarketPreviousClose': 214.1,
 'regularMarketOpen': 215.805,
 'regularMarketDayLow': 210.3,
 'regularMarketDayHigh': 216.07,
 'dividendRate': 1.0,
 'dividendYield': 0.0047,
 'exDividendDate': 1715299200,
 'payoutRatio': 0.14930001,
 'fiveYearAvgDividendYield': 0.69,
 'beta': 1.25,
 'trailingPE': 32.806854,
 'forwardPE': 28.891632,
 'volume': 82542718,
 'regularMarketVolume': 82542718,
 'averageVolume': 68708574,
 'averageVolume10days': 91229060,
 'averageDailyVolume10Day': 91229060,
 'bid': 210.48,
 'ask': 217.17,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 3229668081664,
 'fiftyTwoWeekLow': 164.08,
 'fiftyTwoWeekHigh': 220.2,
 'priceToSalesTrailing12Months': 8.46298,
 'fiftyDayAverage': 190.6822,
 'twoHundredDayAverage': 183.69585,
 'trailingAnnualDividendRate': 0.96,
 'trailingAnnualDividendYield': 0.0044838856,
 'currency': 'USD',
 'enterpriseValue': 3267104342016,
 'profitMargins': 0.26306,
 'floatShares': 15308474083,
 'sharesOutstanding': 15334099968,
 'sharesShort': 153405579,
 'sharesShortPriorMonth': 99287450,
 'sharesShortPreviousMonthDate': 1715731200,
 'dateShortInterest': 1718323200,
 'sharesPercentSharesOut': 0.01,
 'heldPercentInsiders': 0.052199997,
 'heldPercentInstitutions': 0.57607,
 'shortRatio': 2.29,
 'shortPercentOfFloat': 0.01,
 'impliedSharesOutstanding': 15334099968,
 'bookValue': 4.837,
 'priceToBook': 43.543518,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1711756800,
 'earningsQuarterlyGrowth': -0.022,
 'netIncomeToCommon': 100389003264,
 'trailingEps': 6.42,
 'forwardEps': 7.29,
 'pegRatio': 3.09,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 8.561,
 'enterpriseToEbitda': 25.203,
 '52WeekChange': 0.09435725,
 'SandP52WeekChange': 0.22553468,
 'lastDividendValue': 0.25,
 'lastDividendDate': 1715299200,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 210.62,
 'targetHighPrice': 275.0,
 'targetLowPrice': 164.0,
 'targetMeanPrice': 211.8,
 'targetMedianPrice': 210.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 37,
 'totalCash': 67150000128,
 'totalCashPerShare': 4.379,
 'ebitda': 129629003776,
 'totalDebt': 104590000128,
 'quickRatio': 0.875,
 'currentRatio': 1.037,
 'totalRevenue': 381623009280,
 'debtToEquity': 140.968,
 'revenuePerShare': 24.537,
 'returnOnAssets': 0.22073999,
 'returnOnEquity': 1.4725,
 'freeCashflow': 84726874112,
 'operatingCashflow': 110563000320,
 'earningsGrowth': 0.007,
 'revenueGrowth': -0.043,
 'grossMargins': 0.45586,
 'ebitdaMargins': 0.33968,
 'operatingMargins': 0.30743,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2292}

In [5]:
df_AAPL

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1981-01-02 00:00:00-05:00,0.118870,0.119731,0.118870,0.118870,21660800,0.0,0.0
1981-01-05 00:00:00-05:00,0.116716,0.116716,0.116286,0.116286,35728000,0.0,0.0
1981-01-06 00:00:00-05:00,0.111548,0.111548,0.111117,0.111117,45158400,0.0,0.0
1981-01-07 00:00:00-05:00,0.106810,0.106810,0.106380,0.106380,55686400,0.0,0.0
1981-01-08 00:00:00-05:00,0.104657,0.104657,0.104226,0.104226,39827200,0.0,0.0
...,...,...,...,...,...,...,...
2024-06-24 00:00:00-04:00,207.720001,212.699997,206.589996,208.139999,80727000,0.0,0.0
2024-06-25 00:00:00-04:00,209.149994,211.380005,208.610001,209.070007,56713900,0.0,0.0
2024-06-26 00:00:00-04:00,211.500000,214.860001,210.639999,213.250000,66213200,0.0,0.0
2024-06-27 00:00:00-04:00,214.690002,215.740005,212.350006,214.100006,49772700,0.0,0.0
2024-06-28 00:00:00-04:00,215.770004,216.070007,210.300003,210.619995,82475600,0.0,0.0

In [6]:
df_AAPL.to_csv("AAPL.csv")

In [8]:
df_AAPL.shape

(10964, 7)

In [10]:
df_AAPL.info

<bound method DataFrame.info of                                  Open        High         Low       Close  \
Date
1981-01-02 00:00:00-05:00    0.118870    0.119731    0.118870    0.118870
1981-01-05 00:00:00-05:00    0.116716    0.116716    0.116286    0.116286
1981-01-06 00:00:00-05:00    0.111548    0.111548    0.111117    0.111117
1981-01-07 00:00:00-05:00    0.106810    0.106810    0.106380    0.106380
1981-01-08 00:00:00-05:00    0.104657    0.104657    0.104226    0.104226
...                               ...         ...         ...         ...
2024-06-24 00:00:00-04:00  207.720001  212.699997  206.589996  208.139999
2024-06-25 00:00:00-04:00  209.149994  211.380005  208.610001  209.070007
2024-06-26 00:00:00-04:00  211.500000  214.860001  210.639999  213.250000
2024-06-27 00:00:00-04:00  214.690002  215.740005  212.350006  214.100006
2024-06-28 00:00:00-04:00  215.770004  216.070007  210.300003  210.619995

                             Volume  Dividends  Stock Splits
Date
1981-01-02 00:00:00-05:00  21660800        0.0           0.0
1981-01-05 00:00:00-05:00  35728000        0.0           0.0
1981-01-06 00:00:00-05:00  45158400        0.0           0.0
1981-01-07 00:00:00-05:00  55686400        0.0           0.0
1981-01-08 00:00:00-05:00  39827200        0.0           0.0
...                             ...        ...           ...
2024-06-24 00:00:00-04:00  80727000        0.0           0.0
2024-06-25 00:00:00-04:00  56713900        0.0           0.0
2024-06-26 00:00:00-04:00  66213200        0.0           0.0
2024-06-27 00:00:00-04:00  49772700        0.0           0.0
2024-06-28 00:00:00-04:00  82475600        0.0           0.0

[10964 rows x 7 columns]>